# Build directories
build/
bin/
lib/
build_asan/

# IDE settings
.vscode/
.idea/
*.json
*.png
output.txt

# Compiled Object files
*.o
*.obj

# Dynamic Libraries
*.so
*.dylib
*.dll

# OS files
.DS_Store
